nav {
    padding: 5px;
    padding-top: 20px;
    padding-left: 50px;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 15px;
    font-size: 20px;
    font-weight: 100;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul li {
    font-size : 18px;
    font-family: 'Raleway', sans-serif;
    font-weight : 600;
}

nav ul li a {
    transition: all 0.3s ease; /* Smooth transition for the hover effect */
    color: black; /* Initial color */
}

nav ul li a:hover {
    color: #000000; /* Change text color on hover */
    background-color: rgb(144, 173, 134); /* Change background color on hover */
    padding: 5px; /* Add padding to make the hover effect more noticeable */
    border-radius: 10px; /* Optional: Adds rounded corners */
}


.nav-image {
    width: 50px;
    vertical-align: middle;
}

body {
    background-color: #e2ebdd;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    padding-bottom: 25px;
}

.subheading, .subtext {
    text-align: left;
    padding-left: 10%;
    font-weight: normal;
}

.subtext {
    max-width: 80%;
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: normal;
}

ul {
    text-align: left;
    padding-left: 13%;
    padding-bottom: 20px;
    max-width: 80%;
    font-size: 20px;
}
h1 {

    font-family: 'Raleway', sans-serif;
    font-weight: 800; /* Assuming you want the heaviest weight for Raleway */
}
.subheading {

    font-family: 'Raleway', sans-serif;
    font-weight: 800; /* Assuming you want the heaviest weight for Raleway */
}
