nav {
    padding: 5px;
    background-color: #9ebe92;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: black;
}

.nav-image {
    width: 50px;
    vertical-align: middle;
}

body, html {
    background-color: #e2ebdd;
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.blurb-container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.leaderboard {
    width: 100%;
    display: flex;
    justify-content: center;
}

.leaderboard-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block; /* Aligns the list in the center of its parent */
    border-radius: 2px; /* Rounded corners */
}

.leaderboard-list-entry {
    background-color: #eaeaea; /* Gray background */
    margin: 5px 0; /* Adds margin to top and bottom */
    padding: 20px 20px; /* Padding inside the list items */
    border-radius: 5px; /* Rounded corners for list items */
    display: flex; /* Makes it a flex container */
    justify-content: space-between; /* Spaces children with max space in-between */
    align-items: center; /* Aligns children vertically in the center */
}

.rank-name {
    text-align: left;
    padding-right: 100px;
    font-size: 25px;
}

.score {
    text-align: right; /* Aligns score to the right */
    padding-left: 20px;
    font-size: 22px;
}