nav {
    padding: 5px;
    background-color: #9ebe92;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul li a {
    transition: all 0.3s ease; /* Smooth transition for the hover effect */
    color: black; /* Initial color */
}

nav ul li a:hover {
    color: #000000; /* Change text color on hover */
    background-color: rgb(144, 173, 134); /* Change background color on hover */
    padding: 5px; /* Add padding to make the hover effect more noticeable */
    border-radius: 10px; /* Optional: Adds rounded corners */
}


.nav-image {
    width: 50px;
    vertical-align: middle;
}

body {
    background-color: #e2ebdd;
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.leaderboard {
    width: 100%;
    display: flex;
    justify-content: center;
}

.leaderboard-list {
    padding: 0;
    margin: 0;
    display: inline-block; /* Aligns the list in the center of its parent */
    border-radius: 2px; /* Rounded corners */
}

.leaderboard-list-entry {
    background-color: #eaeaea; /* Gray background */
    margin: 10px 0; /* Adds margin to top and bottom */
    padding: 20px 20px; /* Padding inside the list items */
    border-radius: 5px; /* Rounded corners for list items */
    display: flex; /* Makes it a flex container */
    justify-content: space-between; /* Spaces children with max space in-between */
    align-items: center; /* Aligns children vertically in the center */
    outline: 2px solid #000000
}

.name {
    text-align: left;
    padding-right: 250px;
    font-size: 25px;
}

.score {
    text-align: right; /* Aligns score to the right */
    padding-left: 20px;
    font-size: 22px;
}